<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/jQuery.js"></script>
    <script src="/static/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.min.css">
<body>
<div class="panel panel-info" style="top: 1000px">
    <div class="panel-heading " style="color: #ac2925"></div>
    <table class="table text-center">
        <thead>
        <tr>
            <div class="col-md-4">
                <th class="text-center">编号</th>
            </div>
            <div class="col-md-8">
                <th class="text-center">图片</th>
            </div>
        </tr>
        </thead>
        <tbody>
            {% for handle in handle_list %}
                <tr>
                <td>{{ forloop.counter }}</td>
                <td><img src="../media/handle/{{ handle }}" alt=""></td>
                </tr>
            {% endfor %}

        
        
        </tbody>
    </table>
</div>
</body>
</html>